<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletConfigApp</display-name>

  <servlet>
    <description></description>
    <display-name>Tes</display-name>
    <servlet-name>Tes</servlet-name>
    
    
    
    <servlet-class>com.sag.test.Test</servlet-class>
    <init-param>
		<param-name>name</param-name>
		<param-value>sidduganesh</param-value>
	</init-param>
	<init-param>
		<param-name>age</param-name>
		<param-value>23</param-value>
	</init-param>
	<init-param>
		<param-name>address</param-name>
		<param-value>vnpally</param-value>
	</init-param>
  
  </servlet>
  <servlet-mapping>
    <servlet-name>Tes</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
</web-app>